<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
	  <system.webServer>
		  <handlers>
			  <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		  </handlers>
		  <aspNetCore processPath="dotnet" arguments=".\CaffeBot.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
	  </system.webServer>
  </location>
  <system.web>
    <compilation tempDirectory="" />
  </system.web>
</configuration>
<!--ProjectGuid: b9795c3b-f52a-4f11-aac3-3d4c466e9dc0-->