h1 {
    $size: 60px;
    color: $mainTextColor;
    font-size: 1.8em;
    letter-spacing: 2px;
    line-height: $size;
    &.Title {
        text-align: center;
        margin-top: $size / 2;
    }
}

h2 {
    $size: 30px;
    font-size: 1em;
    letter-spacing: 1px;
    color: $mainTextColor;
    line-height: $size;
    &.Title {
        text-align: center;
        margin-top: $size / 2;
    }
}

h3 {
    $size: 20px;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: $mainTextColor;
    line-height: $size;
    &.Title {
        text-align: center;
    }
}